<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>A1CF06F4-8719-484F-A0FD-E87F2C1F3903-81406-00000EBB7C9E5E35</string>
	<key>documentVersion</key>
	<string>82</string>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>layout</key>
	<dict>
		<key>mainWindowFrame</key>
		<string>27 62 1757 1116 0 0 1920 1178 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>449</real>
	</dict>
	<key>resources</key>
	<array>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va1wCAAAAAAEQEAAAAJABAAAFAAAAAQEAAFVzZXJzAAAABwAA
			AAEBAABsYXVyZW50AAcAAAABAQAARGVza3RvcAALAAAAAQEAAGJh
			bm5lcjIucG5nABAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
			AwAAj5EAAAAAAAAIAAAABAMAADGxAwAAAAAACAAAAAQDAAA8sQMA
			AAAAAAgAAAAEAwAA27jlAQAAAAAQAAAAAQYAAGAAAABwAAAAgAAA
			AJAAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAQA
			AAADAwAAAgAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3No
			IEhECAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQbBbFhsAAAAkAAAA
			AQEAADYyMzFDNUZCLUZEMzMtM0FBNC05NTNBLTU1OTIyQTEyODZF
			NBgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEB
			AAAvAAAAAAAAAAEFAAAEAAAAAwMAAAABAAC0AAAA/v///wEAAAAA
			AAAADgAAAAQQAABIAAAAAAAAAAUQAACgAAAAAAAAABAQAAC4AAAA
			AAAAAAIgAABwAQAAAAAAABAgAADwAAAAAAAAABEgAAAkAQAAAAAA
			ABIgAAAEAQAAAAAAABMgAAAUAQAAAAAAACAgAABQAQAAAAAAADAg
			AAB8AQAAAAAAAAHAAADYAAAAAAAAABHAAAAUAAAAAAAAABLAAADk
			AAAAAAAAABDQAACEAQAAAAAAAA==
			</data>
			<key>md5</key>
			<string>BBD19BBCEB65F417DD0DF93DF47D9550</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/laurent/Desktop/banner2.png</string>
			<key>resourceName</key>
			<string>banner2.png</string>
		</dict>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va1wCAAAAAAEQEAAAAJABAAAFAAAAAQEAAFVzZXJzAAAABwAA
			AAEBAABsYXVyZW50AAcAAAABAQAARGVza3RvcAALAAAAAQEAAGJh
			bm5lcjMucG5nABAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
			AwAAj5EAAAAAAAAIAAAABAMAADGxAwAAAAAACAAAAAQDAAA8sQMA
			AAAAAAgAAAAEAwAA3LjlAQAAAAAQAAAAAQYAAGAAAABwAAAAgAAA
			AJAAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAQA
			AAADAwAAAgAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3No
			IEhECAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQbBbFhsAAAAkAAAA
			AQEAADYyMzFDNUZCLUZEMzMtM0FBNC05NTNBLTU1OTIyQTEyODZF
			NBgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEB
			AAAvAAAAAAAAAAEFAAAEAAAAAwMAAAABAAC0AAAA/v///wEAAAAA
			AAAADgAAAAQQAABIAAAAAAAAAAUQAACgAAAAAAAAABAQAAC4AAAA
			AAAAAAIgAABwAQAAAAAAABAgAADwAAAAAAAAABEgAAAkAQAAAAAA
			ABIgAAAEAQAAAAAAABMgAAAUAQAAAAAAACAgAABQAQAAAAAAADAg
			AAB8AQAAAAAAAAHAAADYAAAAAAAAABHAAAAUAAAAAAAAABLAAADk
			AAAAAAAAABDQAACEAQAAAAAAAA==
			</data>
			<key>md5</key>
			<string>33389F687FAA4BA8BE15806AFA885FC2</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/laurent/Desktop/banner3.png</string>
			<key>resourceName</key>
			<string>banner3.png</string>
		</dict>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va1wCAAAAAAEQEAAAAJABAAAFAAAAAQEAAFVzZXJzAAAABwAA
			AAEBAABsYXVyZW50AAcAAAABAQAARGVza3RvcAALAAAAAQEAAGJh
			bm5lcjQucG5nABAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
			AwAAj5EAAAAAAAAIAAAABAMAADGxAwAAAAAACAAAAAQDAAA8sQMA
			AAAAAAgAAAAEAwAA3bjlAQAAAAAQAAAAAQYAAGAAAABwAAAAgAAA
			AJAAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAQA
			AAADAwAAAgAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3No
			IEhECAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQbBbFhsAAAAkAAAA
			AQEAADYyMzFDNUZCLUZEMzMtM0FBNC05NTNBLTU1OTIyQTEyODZF
			NBgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEB
			AAAvAAAAAAAAAAEFAAAEAAAAAwMAAAABAAC0AAAA/v///wEAAAAA
			AAAADgAAAAQQAABIAAAAAAAAAAUQAACgAAAAAAAAABAQAAC4AAAA
			AAAAAAIgAABwAQAAAAAAABAgAADwAAAAAAAAABEgAAAkAQAAAAAA
			ABIgAAAEAQAAAAAAABMgAAAUAQAAAAAAACAgAABQAQAAAAAAADAg
			AAB8AQAAAAAAAAHAAADYAAAAAAAAABHAAAAUAAAAAAAAABLAAADk
			AAAAAAAAABDQAACEAQAAAAAAAA==
			</data>
			<key>md5</key>
			<string>47957AC70C0FD92A3F67B83D884FE704</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/laurent/Desktop/banner4.png</string>
			<key>resourceName</key>
			<string>banner4.png</string>
		</dict>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va1wCAAAAAAEQEAAAAJABAAAFAAAAAQEAAFVzZXJzAAAABwAA
			AAEBAABsYXVyZW50AAcAAAABAQAARGVza3RvcAALAAAAAQEAAGJh
			bm5lcjUucG5nABAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
			AwAAj5EAAAAAAAAIAAAABAMAADGxAwAAAAAACAAAAAQDAAA8sQMA
			AAAAAAgAAAAEAwAA3rjlAQAAAAAQAAAAAQYAAGAAAABwAAAAgAAA
			AJAAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAQA
			AAADAwAAAgAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3No
			IEhECAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQbBbFhsAAAAkAAAA
			AQEAADYyMzFDNUZCLUZEMzMtM0FBNC05NTNBLTU1OTIyQTEyODZF
			NBgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEB
			AAAvAAAAAAAAAAEFAAAEAAAAAwMAAAABAAC0AAAA/v///wEAAAAA
			AAAADgAAAAQQAABIAAAAAAAAAAUQAACgAAAAAAAAABAQAAC4AAAA
			AAAAAAIgAABwAQAAAAAAABAgAADwAAAAAAAAABEgAAAkAQAAAAAA
			ABIgAAAEAQAAAAAAABMgAAAUAQAAAAAAACAgAABQAQAAAAAAADAg
			AAB8AQAAAAAAAAHAAADYAAAAAAAAABHAAAAUAAAAAAAAABLAAADk
			AAAAAAAAABDQAACEAQAAAAAAAA==
			</data>
			<key>md5</key>
			<string>195DF90F78B10AD858833A9EBE909951</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/laurent/Desktop/banner5.png</string>
			<key>resourceName</key>
			<string>banner5.png</string>
		</dict>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va1wCAAAAAAEQEAAAAJABAAAFAAAAAQEAAFVzZXJzAAAABwAA
			AAEBAABsYXVyZW50AAcAAAABAQAARGVza3RvcAALAAAAAQEAAGJh
			bm5lcjEucG5nABAAAAABBgAABAAAABQAAAAkAAAANAAAAAgAAAAE
			AwAAj5EAAAAAAAAIAAAABAMAADGxAwAAAAAACAAAAAQDAAA8sQMA
			AAAAAAgAAAAEAwAA2rjlAQAAAAAQAAAAAQYAAGAAAABwAAAAgAAA
			AJAAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAQA
			AAADAwAAAgAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3No
			IEhECAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQbBbFhsAAAAkAAAA
			AQEAADYyMzFDNUZCLUZEMzMtM0FBNC05NTNBLTU1OTIyQTEyODZF
			NBgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEB
			AAAvAAAAAAAAAAEFAAAEAAAAAwMAAAABAAC0AAAA/v///wEAAAAA
			AAAADgAAAAQQAABIAAAAAAAAAAUQAACgAAAAAAAAABAQAAC4AAAA
			AAAAAAIgAABwAQAAAAAAABAgAADwAAAAAAAAABEgAAAkAQAAAAAA
			ABIgAAAEAQAAAAAAABMgAAAUAQAAAAAAACAgAABQAQAAAAAAADAg
			AAB8AQAAAAAAAAHAAADYAAAAAAAAABHAAAAUAAAAAAAAABLAAADk
			AAAAAAAAABDQAACEAQAAAAAAAA==
			</data>
			<key>md5</key>
			<string>BE55D461E0BCB3AC9A403A5FB886D76A</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/laurent/Desktop/banner1.png</string>
			<key>resourceName</key>
			<string>banner1-1.png</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{931, 326}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>additionalAttributesToShow</key>
				<dict/>
				<key>expandedItems</key>
				<array>
					<string>704895B1-0D3A-4FB3-9F6D-10BDC7065165-81406-00000F5D18B16635</string>
					<string>32438DE5-D2FE-4EDF-BC11-5F6FA4753EAC-81406-00000F65E878E5C3</string>
					<string>6E27B4C7-6688-4B95-8627-8F8B8BA4C6B2-81406-00000F6730A60A6B</string>
					<string>DDF1EB8B-9CC0-451A-9E36-52134B217D97-81406-00000F6A0F6D5D34</string>
					<string>21300D5E-BED9-41B3-9DA7-E4EB40968440-81406-00000F6BE736963E</string>
				</array>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>25</real>
				</dict>
				<key>timescale</key>
				<integer>40</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1757, 449}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>21300D5E-BED9-41B3-9DA7-E4EB40968440-81406-00000F6BE736963E</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>banner5.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>2.85583</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;img src="http://www.marmitonetpolochon.be/banner/banner5.png"&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>banner5</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
					</array>
					<key>32438DE5-D2FE-4EDF-BC11-5F6FA4753EAC-81406-00000F65E878E5C3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>banner2.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>2.85583</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;img src="http://www.marmitonetpolochon.be/banner/banner2.png"&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>banner2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
					</array>
					<key>6E27B4C7-6688-4B95-8627-8F8B8BA4C6B2-81406-00000F6730A60A6B</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>banner3.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>2.85583</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;img src="http://www.marmitonetpolochon.be/banner/banner3.png"&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>banner3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
					</array>
					<key>704895B1-0D3A-4FB3-9F6D-10BDC7065165-81406-00000F5D18B16635</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>banner1-1.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionOffset</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionDepth</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>2.85583</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;img src="http://www.marmitonetpolochon.be/banner/banner1.png"&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>5</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>banner1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
					<key>DDF1EB8B-9CC0-451A-9E36-52134B217D97-81406-00000F6A0F6D5D34</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>banner4.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>2.85583</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;img src="http://www.marmitonetpolochon.be/banner/banner4.png"&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>banner4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>326px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>931px</string>
						</dict>
					</array>
				</dict>
				<key>onSceneAnimationCompleteAction</key>
				<dict>
					<key>timelineIdentifier</key>
					<string>kTimelineDefaultIdentifier</string>
					<key>type</key>
					<integer>3</integer>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#000000</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>32438DE5-D2FE-4EDF-BC11-5F6FA4753EAC-81406-00000F65E878E5C3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>B9A43CD5-7A5D-49F3-835C-A3CFB53C7063-81406-00000FC22CEF0BCA</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>9</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>6E27B4C7-6688-4B95-8627-8F8B8BA4C6B2-81406-00000F6730A60A6B</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2EA6BC65-D11A-4C26-A6F4-685DCE9C0D90-81406-00000FC952586B7B</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>14</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>DDF1EB8B-9CC0-451A-9E36-52134B217D97-81406-00000F6A0F6D5D34</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>3DAE7193-56D9-44CD-806A-7E481B9AB01B-81406-00000FCAB1503860</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>19</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>21300D5E-BED9-41B3-9DA7-E4EB40968440-81406-00000F6BE736963E</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9D67D34D-366D-42EC-9BDF-3246D5DF1B8C-81406-00000FCB782CE22B</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<true/>
								<key>oid</key>
								<string>704895B1-0D3A-4FB3-9F6D-10BDC7065165-81406-00000F5D18B16635</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>130E97C9-9612-41F1-B7FE-F5540A90BE29-81406-00000FE2ADCE4E5F</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>32438DE5-D2FE-4EDF-BC11-5F6FA4753EAC-81406-00000F65E878E5C3</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>ECB37213-3C52-4C31-923B-F1360E43E023-81406-00000FFDAEC8D8FF</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>704895B1-0D3A-4FB3-9F6D-10BDC7065165-81406-00000F5D18B16635</string>
								<key>startTime</key>
								<real>4</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>B6F308EC-0782-40D7-9C6A-BEA6B9E80AF3-81406-00000FF6B226FC40</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>32438DE5-D2FE-4EDF-BC11-5F6FA4753EAC-81406-00000F65E878E5C3</string>
								<key>startTime</key>
								<real>5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>DE2F936B-FC2A-4D41-AF8F-BDB354883E83-81406-00000FFF54577969</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>19</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>704895B1-0D3A-4FB3-9F6D-10BDC7065165-81406-00000F5D18B16635</string>
								<key>startTime</key>
								<real>5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>059E5896-F050-4DF5-B194-59CF88645559-81406-00000FF9BDA457C6</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>6E27B4C7-6688-4B95-8627-8F8B8BA4C6B2-81406-00000F6730A60A6B</string>
								<key>startTime</key>
								<real>9</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>3ED6F094-5DB6-4C1D-83F7-FA2BEA421984-81406-000010123B69DC8C</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>32438DE5-D2FE-4EDF-BC11-5F6FA4753EAC-81406-00000F65E878E5C3</string>
								<key>startTime</key>
								<real>9</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C682CD7E-278B-45A7-B5ED-EC2C33BC4E65-81406-0000101488F3CC0A</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>32438DE5-D2FE-4EDF-BC11-5F6FA4753EAC-81406-00000F65E878E5C3</string>
								<key>startTime</key>
								<real>10</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>58BFE097-6D31-4218-B568-D5E395FC9FD6-81406-00001017D314F03A</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>6E27B4C7-6688-4B95-8627-8F8B8BA4C6B2-81406-00000F6730A60A6B</string>
								<key>startTime</key>
								<real>10</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>7F116B03-E3CE-43EA-9536-326631D0B1D7-81406-000010184469B713</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>DDF1EB8B-9CC0-451A-9E36-52134B217D97-81406-00000F6A0F6D5D34</string>
								<key>startTime</key>
								<real>14</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>E1C4CECD-C831-42C9-84D4-B3D285066DE7-81406-0000101AED759B44</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>6E27B4C7-6688-4B95-8627-8F8B8BA4C6B2-81406-00000F6730A60A6B</string>
								<key>startTime</key>
								<real>14</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A9D71BA9-D3EB-461F-8C3B-AFF6666B607C-81406-00001020AFE514E0</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>DDF1EB8B-9CC0-451A-9E36-52134B217D97-81406-00000F6A0F6D5D34</string>
								<key>startTime</key>
								<real>15</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A16BC755-90A5-4EF5-9722-38A0BB14C39C-81406-0000101D56DFB2C6</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>6E27B4C7-6688-4B95-8627-8F8B8BA4C6B2-81406-00000F6730A60A6B</string>
								<key>startTime</key>
								<real>15</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>FD0F6645-80B6-4541-82CB-86A95176B999-81406-0000102279461FF3</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>DDF1EB8B-9CC0-451A-9E36-52134B217D97-81406-00000F6A0F6D5D34</string>
								<key>startTime</key>
								<real>19</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A4357872-D49E-4FA6-A075-CFB8CD2A88C7-81406-00001028D2E0BD2F</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>21300D5E-BED9-41B3-9DA7-E4EB40968440-81406-00000F6BE736963E</string>
								<key>startTime</key>
								<real>19</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>B39C7000-AE54-4614-BB3E-3DF4E28AA89B-81406-0000102AAE165089</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>4</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>21300D5E-BED9-41B3-9DA7-E4EB40968440-81406-00000F6BE736963E</string>
								<key>startTime</key>
								<real>20</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>0769A317-724E-441F-8407-6E5C3261FC47-81406-0000102BBA981DED</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>DDF1EB8B-9CC0-451A-9E36-52134B217D97-81406-00000F6A0F6D5D34</string>
								<key>startTime</key>
								<real>20</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9CBEC0C8-6ABE-4491-BB7C-3DF918F1CF8C-81406-0000102C3ECCC66E</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>21300D5E-BED9-41B3-9DA7-E4EB40968440-81406-00000F6BE736963E</string>
								<key>startTime</key>
								<real>24</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>E6602643-4B13-48E9-8B4E-AB6F660AD95A-81406-000010316A27C258</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>1</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>704895B1-0D3A-4FB3-9F6D-10BDC7065165-81406-00000F5D18B16635</string>
								<key>startTime</key>
								<real>24</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>81C2982D-BB60-491D-8914-7B1AFC5F2B82-81406-00001035A5DDDBFB</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>21300D5E-BED9-41B3-9DA7-E4EB40968440-81406-00000F6BE736963E</string>
								<key>startTime</key>
								<real>25</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>E4A4170E-A928-465B-B7E8-A13EF569A699-81406-00001032946FEF64</string>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>oid</key>
								<string>704895B1-0D3A-4FB3-9F6D-10BDC7065165-81406-00000F5D18B16635</string>
								<key>startTime</key>
								<real>25</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>09FB0E39-7316-451F-BB28-5FBECCC3CE7B-81406-00001034CB21E432</string>
							</dict>
						</array>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Banner</string>
			<key>oid</key>
			<string>A1CF06F4-8719-484F-A0FD-E87F2C1F3903-81406-00000EBB7C9E5E35</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array/>
			<key>splitHeight</key>
			<real>449</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<true/>
	<key>unsupportedBrowserIdentifiers</key>
	<array/>
</dict>
</plist>
