/*
Gites de Wallonie
Marmiton & Polochon

Affinitic 2011
www.affinitic.be
*/


body{
margin:0px;
background-color:#eee;   /*#25211d;*/
background-image:url(bg_body.png);
background-repeat:repeat-x;
background-attachment:fixed;
font-family:verdana, arial, helvetica, tahoma, garamond, sans-serif;
font-size:12pt;
}
#wrapper{
background-image:url(bg_rayon.png);
background-repeat:no-repeat;
background-position:center 476px;
background-attachment:fixed;
}

#gdwmp-main-content{
width:931px;
margin:auto;
/*border-left:2px solid #000;
border-right:2px solid #000;*/
}

/**** HEADER ****/
#gdwmp-header{
width:931px;
height:86px;
background-image:url(bandeau_sup.png);
background-repeat:no-repeat;
}

#gdwmp-site-title{
position:relative;
top:70px;
left:5px;
width:400px;
color:#bbb;
font-size:0.8em;
font-weight:normal;
}

#portal-languageselector{
background-color:transparent;
margin-top:68px;
right:5px;
}

#portal-languageselector a{
color:#bbb;
}

/**** ZONE FLASH ****/
#gdwmp-zone-flash{
width:931px;
height:326px;
background-image:url(zone_flash.png);
background-repeat:no-repeat;
}


/**** MENU SUP TAB GLOBAL NAV ****/
#gdwmp-menu-sup{
width:929px;
height:66px;
background-image:url(menu_sup.png);
background-repeat:no-repeat;
padding-left:3px;
}

#portal-globalnav {
background:transparent;
margin-top:0px;
margin:auto;
}

#portal-globalnav li a {
background:transparent;
border-right: 1px solid #3a3022;
border-left: 1px solid #3a3022;
display: inline-block;
/*min-width:114px;*/
line-height:66px;
font-family:garamond;
font-size: 15pt;
color:#878376;     /*#bdb8aa;*/
text-transform:uppercase;
padding:0px 10px 0px 15px;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
background:transparent;
color:#ffab4e;
}

#portal-globalnav .selected a:hover {
background:transparent;
color:#ffab4e;
}                                   

/**** ZONE TEXTE ****/
#gdwmp-zone-texte{
width:931px;
height:531px;
background-image:url(zone_texte.png);
background-repeat:no-repeat;
}

#gdwmp-zone-texte .intro{
float:left;
width:250px;
height:450px;
margin-left:29px;
margin-top:50px;
color:#d8b986;
font-size:0.9em;
text-align:justify;
/*border:1px solid #fff;*/
}

#gdwmp-zone-texte .portletCollection{
float:right;
margin-right:52px;
margin-top:40px;
border:1px solid #f00;
min-height:125px;
width:500px;
} 

/*les events*/ 
#gdwmp-evenement{
float:right;
margin-right:52px;
margin-top:27px;
height:400px;
width:500px;
-moz-border-radius: 0px 12px 0px 12px;
-webkit-border-radius: 0px 12px 0px 12px;
-op-border-radius: 0px 12px 0px 12px;
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:#846d37;
}                 

div#gdwmp-zone-texte #gdwmp-evenement dl.portlet dt a:link, dl.portlet dt a:visited, dl.portlet dt a:hover {
border: medium none;
color:#ffaa6e;
display: block;
font-size:2em; 
}

div#gdwmp-zone-texte #gdwmp-evenement dl.portlet dt, div.portletAssignments div.portletHeader {
background:transparent;
line-height: normal;
padding: 0.42em 1em;
color:#ffaa6e;   
} 

div#gdwmp-zone-texte #gdwmp-evenement dl.portlet dd.portletItem a.tile {
border: medium none;
color:#ffaa6e;
display: block;
font-size:1.1em; 
}


div#gdwmp-zone-texte #gdwmp-evenement #content a:hover, dl.portlet a:hover{
color:#b76c0f !important;
}

div#gdwmp-zone-texte #gdwmp-evenement .portletItemDetails {
display: block;
font-size: 85%;
line-height: 1.5em;
margin-left: 1em;
padding-top: 0.5em;
color:#ccc;
}

div#gdwmp-zone-texte #gdwmp-evenement dd.portletFooter {
padding-left: 270px;
}                  


/*les recettes*/
#gdwmp-recette{
float:right;
margin-right:52px;
margin-top:25px;
border:1px solid #f00;
width:500px;
height:50px;
-moz-border-radius: 0px 12px 0px 12px;
-webkit-border-radius: 0px 12px 0px 12px;
-op-border-radius: 0px 12px 0px 12px;
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:#846d37;
text-align:center;
line-height:24px;
}

#gdwmp-recette a{
font-size:0.8em;
color:#e7c99d;
}

#gdwmp-recette a:hover;{
color:#ffab4e;
}

#gdwmp-zone-texte .portletCollection .portletHeader {
background: transparent;
line-height: normal;
padding: 0.42em 1em;
}

div#gdwmp-zone-texte #gdwmp-recette dl.portlet dt.portletHeader a span {
color:#e7c99d;
}

div#gdwmp-zone-texte #gdwmp-recette dl.portlet dd.portletItem a.tile{
color:#e7c99d;
}

div#gdwmp-zone-texte #content a:link, dl.portlet a:link{
border:none;
}

div#gdwmp-zone-texte #content a:hover, dl.portlet a:hover{
color:#ffab4e !important;
} 
 


/**** FOOTER ****/
#footer{
width:931px;
height:247px;
background-image:url(footer.png);
background-repeat:no-repeat;
} 


/**** COLOPHON ****/
#colophon{
width:929px;
height:100px;
background-color:#1f1b19;
background-image:url(colophon.png);
background-repeat:no-repeat;
}

#copyright{
float:left;
width: 330px;
height: 132px;
margin-top:-37px;
overflow: hidden;
}

#txt{
color: #FFFFFF;
font-family:  Tahoma, "Trebuchet MS", Arial, serif;
font-size: 11px;
margin-left: 20px;
}

#feder-info{
float:right;
color:#999;
font-size:0.6em;
font-weight:normal;
text-align:right;
margin-top:19px;
margin-bottom:4px;
margin-right:4px;
}
#feder-logo{
float:right;
margin-right:5px;
margin-top:21px;
}         




/**** PLONE ****/
/*barre verte edit*/
#edit-bar, #content ul.formTabs {
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
border-style:none;
display:block;
margin-left:0;
}

#edit-bar {
background-image:url(edit_menu_bckg.png);
background-color:transparent;
border-left:3px solid #d7dfce;
border-right:3px solid #d7dfce;
font-size:80%;
margin-bottom:1em;
min-height:2em;
}
