/*
Gites de Wallonie
Marmiton & Polochon

Affinitic 2011
www.affinitic.be
*/


body{
margin:0px;
background-color:#1e1a17;
background-image:url(bg_body.png);
background-repeat:repeat-x;
background-position:center 23px;
/*background-attachment:fixed;*/
font-family:verdana, arial, helvetica, tahoma, garamond, sans-serif;
font-size:12pt;
color:#aab;
}

#wrapper{
background-image:url(bg_rayon.jpg);
background-repeat:no-repeat;
background-position:center 499px;
/*background-color:#1e1a17;*/
/*background-attachment:fixed;*/
}

#gdwmp-main-content{
width:929px;
margin:auto;
background-color:#000;
/*border-left:2px solid #000;
border-right:2px solid #000;*/
}

/**** HEADER ****/
#gdwmp-header{
width:931px;
height:86px;
background-image:url(bandeau_sup.png);
background-repeat:no-repeat;
}

#gdwmp-site-title{
position:relative;
top:70px;
left:5px;
width:400px;
color:#bbb;
font-size:0.8em;
font-weight:normal;
}

#portal-languageselector{
background-color:transparent;
margin-top:68px;
right:5px;
}

#portal-languageselector a{
color:#bbb;
}

/**** ZONE FLASH ****/
#gdwmp-zone-flash{
width:931px;
height:326px;
background-color:#000;
}

/**** MENU SUP TAB GLOBAL NAV ****/
#gdwmp-menu-sup{
width:931px;
height:65px;
background-image:url(menu_sup.png);
background-repeat:repeat-x;
}

#portal-globalnav {
background:transparent;
margin-top:0px;
margin-left:15px;
}

#portal-globalnav li{
text-align:center;
}

#portal-globalnav li a {
background:transparent;
border-right: 1px solid #3a3022;
border-left: 1px solid #3a3022;
display: inline-block;
/*min-width:114px;*/
line-height:66px;
font-family:verdana, arial, sans-serif;
font-size: 15pt;
color:#878376;     /*#bdb8aa;*/
text-transform:uppercase;
padding:0px 10px 0px 10px;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
background:transparent;
color:#ffab4e;
}

#portal-globalnav .selected a:hover {
background:transparent;
color:#ffab4e;
}

/**** BREADCRUMB ****/
#portal-breadcrumbs {
background-color:#000;
width:923px;
font-size: 70%;
color:#ac6202;
margin: 0px;
padding-left:8px;
border-top:1px dotted #4e3702;
border-bottom:1px dotted #4e3702;
}

#portal-breadcrumbs a {
color:#b3680a;
}

#portal-breadcrumbs a:hover {
color:#ffbd5f;
}



/**** ZONE TEXTE ****/
#gdwmp-zone-texte{
width:931px;
min-height:528px;
background-color:#000;
background-image:url();
background-repeat:no-repeat;
/*border:1px solid #f00;*/
}

#gdwmp-zone-texte #intro{
float:left;
width:300px;
height:518px;
background-image:url(bg_intro.png);
background-repeat:no-repeat;
margin-left:12px;
margin-top:10px;
color:#d8b986;
font-size:0.9em;
text-align:justify;
/*border:1px solid #fff;*/
}

#gdwmp-zone-texte #intro p{
padding:48px 2em 0px 2em;
}


#gdwmp-zone-texte #event-recette{
float:right;
width:601px;
height:518px;
margin-right:12px;
margin-top:10px;
background-image:url(bg_event_recette.png);
background-repeat:no-repeat;
}

#gdwmp-zone-texte .portletCollection{
border:1px solid #f00;
min-height:125px;
width:500px;
}

/*les events*/
#gdwmp-evenement{
float:right;
margin-right:52px;
margin-top:15px;
height:400px;
width:500px;
-moz-border-radius: 0px 12px 0px 12px;
-webkit-border-radius: 0px 12px 0px 12px;
-op-border-radius: 0px 12px 0px 12px;
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:#846d37;
overflow:hidden;
}

div#gdwmp-zone-texte #gdwmp-evenement dl.portlet dt a:link, dl.portlet dt a:visited, dl.portlet dt a:hover {
border: medium none;
color:#ffaa6e;
display: block;
font-size:2em;

}


/*bouton plus d'event*/
div#gdwmp-zone-texte #gdwmp-evenement dd.portletFooter{
/*border:1px solid #fff;*/
padding-left: 260px;
padding-top:35px;
}

div#gdwmp-zone-texte #gdwmp-evenement dd.portletFooter .tile{
border:1px dotted #a87f5b;
-moz-border-radius: 12px 12px 12px 0px;
-webkit-border-radius: 12px 12px 12px 0px;
-op-border-radius: 12px 12px 12px 0px;
color:#a87f5b;
padding:5px 10px 5px 10px;
}

div#gdwmp-zone-texte #gdwmp-evenement dd.portletFooter a:hover{
border:1px dotted #ffaa6e;
}

div#gdwmp-zone-texte #gdwmp-evenement dl.portlet dt, div.portletAssignments div.portletHeader {
background:transparent;
line-height: normal;
padding: 0.42em 1em;
color:#ffaa6e;
font-family: 'Terminal Dosis Light', arial, serif;
}

div#gdwmp-zone-texte #gdwmp-evenement dl.portlet dd.portletItem a.tile {
border: medium none;
color:#ffaa6e;
display: block;
font-size:1.1em;
}


div#gdwmp-zone-texte #gdwmp-evenement #content a:hover, dl.portlet a:hover{
color:#b76c0f !important;
}

div#gdwmp-zone-texte #gdwmp-evenement .portletItemDetails {
display: block;
font-size: 85%;
line-height: 1.5em;
margin-left: 1em;
padding-top: 0.5em;
color:#ccc;
}

.event-complete {
color: #FF0000;
}

/*les recettes*/
#gdwmp-recette{
float:right;
margin-right:52px;
margin-top:25px;
width:500px;
height:50px;
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:#846d37;
-moz-border-radius: 0px 12px 0px 12px;
-webkit-border-radius: 0px 12px 0px 12px;
-op-border-radius: 0px 12px 0px 12px;
overflow:hidden;
}

#gdwmp-recette a{
width:500px;
height:50px;
display:table-cell;
text-align:center;
vertical-align:middle;
font-size:0.8em;
color:#e7c99d;
}

#gdwmp-recette a:hover;{
color:#ffab4e;
}

.imagedropshadow {
	margin: 5px;
	padding: 5px;
	background-color: #EFEFEF;
	border: solid 1px #EFEFEF !important;
}

a:hover img.imagedropshadow {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 15px #999;
	-webkit-box-shadow: 1px 1px 15px #999;
        box-shadow: 1px 1px 15px #999;
}

#gdwmp-zone-texte .portletCollection .portletHeader {
background: transparent;
line-height: normal;
padding: 0.42em 1em;
}

div#gdwmp-zone-texte #gdwmp-recette dl.portlet dt.portletHeader a span {
color:#e7c99d;
}

div#gdwmp-zone-texte #gdwmp-recette dl.portlet dd.portletItem a.tile{
color:#e7c99d;
}

div#gdwmp-zone-texte #content a:link, dl.portlet a:link{
border:none;
}

div#gdwmp-zone-texte #content a:hover, dl.portlet a:hover{
color:#ffab4e !important;
}

/*les hebergements */
#liens-hebergement{
border-width:1px 0px;
border-style:dotted;
border-color:#3f3a36;
margin:auto;
margin-top:13px;
}

#liens-hebergement ul{
text-align:right;
}

#liens-hebergement li{
display:inline;
margin:0px 1em;
list-style-type:disc;
}

/**** FOOTER ****/
#footer{
width:931px;
height:247px;
background-image:url(footer.png);
background-repeat:no-repeat;
background-size:931px auto;
}

#gdwmp-navigation, #gdwmp-search, #gdwmp-links{
float:left;
width:30%;
height:205px;
margin:5px 12px;
border:1px dotted #231f1b;
}

#gdwmp-navigation h3, #gdwmp-search h3, #gdwmp-links h3{
margin-left:5px;
}

/*navigation*/
#gdwmp-navigation{
}

div#gdwmp-navigation ul{
margin-top:5px;
margin-left:30px;
}

div#gdwmp-navigation .portletHeader {
display:none;
}

div#gdwmp-navigation dl.portlet ul.navTreeLevel0 > .navTreeItem {
border-bottom: none;
line-height: 1.3em;
padding: 0.25em 1em;
}

div#gdwmp-navigation .contenttype-folder {
background-image:none;
background-color:transparent;
padding-left:0px !important;
}

div#gdwmp-navigation li a {
font-size:0.8em;
color:#ccc;
}

div#gdwmp-navigation dl.portlet ul.navTree .navTreeCurrentItem {
background-color:tranparent;
border-left:1em solid transparent;
margin-left: -1em;
margin-right: -1em;
color:#ffab4e;
}

/*search*/
#gdwmp-search label{
color:#999;
}

#gdwmp-search label:hover{
color:#ffab4e;
}

div#gdwmp-search #portal-searchbox {
font-size: 80%;
margin-top:10px;
margin-right:15px;
text-align:left;
}

#LSResult {
background-image:url(bg_lssearch.png);
background-repeat:repeat-y;
background-color:transparent;
position: relative;
margin:0px -200px 0px -100px;
width:300px;
}

#LSResult fieldset {
border:none;
padding: 1em 0 0;
}

#LSResult a:link, a:visited {
color:#5a1e00;
}

#LSResult a:hover {
color:#ffab4e;
}

.LSBox .searchSection {
display:none;
}

#livesearchLegend {
background-color:transparent;
padding: 0.3em;
}

/*links*/
#gdwmp-links ul{
margin-top:20px;
margin-left:30px;
}

#gdwmp-links li{
display:block;
text-align:left;
font-size:0.7em;
margin:1.2em 0;
}

#gdwmp-links li a{
color:#999;
}

#gdwmp-links li a:hover{
color:#ffab4e;
}


/**** COLOPHON ****/
#colophon{
width:929px;
/*height:100px;*/
background-color:#1f1b19;
background-image:url(colophon.png);
background-repeat:repeat-x;
background-position:center 3px-;
}

#copyright{
float:left;
width:200px;
height:200px;
margin-top:-37px;
overflow:hidden;
}

#txt{
color: #FFFFFF;
font-family:  Tahoma, "Trebuchet MS", Arial, serif;
font-size: 11px;
margin-left:0px;
text-align:center;
}

#partenaire{
width:100%;
border-top:1px solid #2f2c28;
padding-top:5px;
}
.partenaire-info{
color:#999;
font-size:0.6em;
font-weight:normal;
margin-bottom:4px;
margin-right:3px;
}

#logo-tourisme-wallonie{
float:left;
margin-left:80px;
text-align:center;
}

#logo-wallonie-bruxelles-tourisme,
#feder-logo{
float:right;
margin-right:80px;
text-align:center;
}

#feder-logo img{
margin:auto;
}

/**** PLONE ****/
/*barre verte edit*/
#contentActionMenus {
background-color:transparent;
/*background-image:url(edit_action_menu_bckg.png);
border-left:1px solid #8da375;
border-right:1px solid #8da375;*/
float:right;
margin:0;
width:429px;
}

#edit-bar {
background-image:url(edit_menu_bckg.png);
background-color:transparent;
/*border-left:3px solid #d7dfce;
border-right:3px solid #d7dfce;*/
font-size:80%;
margin-bottom:1em;
min-height:2em;
}

#edit-bar, #content ul.formTabs {
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
border-style:none;
display:block;
margin-left:0;
}

#content-views {
background-color:transparent;
float:left;
}


dl.actionMenu {
background-image:url(none);
float:right;
position:relative;
white-space:nowrap;
}

#contentActionMenus dl.actionMenu.activated dd {
background-color:transparent;
background-image:url(edit_action_menu_bckg.png);
color:White;
font-weight:bold;
z-index:5;
border-left:1px solid #8da375;
border-right:1px solid #8da375;
}

#contentActionMenus dl.actionMenu a{
background-color:transparent;
}

#contentActionMenus dl.actionMenu.activated dd {
border-bottom:0.5em solid #8da375;
right:-1px;
}


/* zone de contenu et d'edition */
#gdwmp-zone-texte #content{
background-image:url(bg_document.png);
background-repeat:repeat-x;
width:900px;
min-height:500px;
margin:auto;
margin-top:10px;
}

#content h1,
#content h1.documentFirstHeading {
margin: 3px 0px 9px 0px;
color:#FFAB4E;
border-bottom:1px dotted #4e3702;
font-weight:normal;
font-family: 'Terminal Dosis Light', arial, serif;
}

#content a:visited, dl.portlet a:visited {
border-bottom: 0px solid #CCCCCC;
color: #427597;
}

#content .documentDescription{
color: #aab;
font-weight:normal;
font-size:1.25em;
font-family:"Helvetica Neue",Arial,FreeSans,sans-serif;
margin-left: 0;
}

.summary img{
margin-left:10px;
margin-right:6px;
}

/*** EDITEUR TINY ***/
.ploneSkin .mceIframeContainer {
border: 1px solid #666666;
background-color:#fff;
}

/*couleur fond barre de boutons*/
.ploneSkin table.mceLayout td.mceToolbar {
border: medium none;
padding: 0;
background-color:#ccc;
}

.ploneSkin .mceButtonDisabled .mceIcon {
opacity: 0.5 !important;
}

.ploneSkin .mceText {
    background: none repeat scroll 0 0 #FF0000;
    border: 0 none;
    border-collapse: separate;
    color: Black;
    cursor: default;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}


